.rating {cursor: pointer;}
.modal-header .close {
    background: rgba(0, 0, 0, 0) url("../images/close.png") no-repeat scroll 0 5px;
    border: medium none;
    float: right;
    height: 20px;
    width: 11px;
}
.modal-header .close {
    margin-top: 2px;
}